<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <form action="{{url_for('task_create')}}" method="post">
        <input type="text" placeholder="Task nami" name="task_name">
        <button type="submit">qo'shish</button>
    </form>
    <ul>
        {% for task in tasks %}
        <li>{{task.title}}</li>
        {% endfor %}
    </ul>   
</body>
</html>